/* цвет заголовков текста #212121 */
/* цвет текста #757575 */
/* цвет белий #FFFFFF */
/* акцент #2196F3 */
/* цвет адреса rgba(255, 255, 255, 0.6) */

/* вторичный цвет фона #F5F4FA */
/* подвал цвет фона  #F5F4FA */

:root {
    --main-font: "Roboto", sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
}

body {
    font-family: var(--main-font);
    font-style: normal;
    background-color: var(--main-background-color);
    color: var(--primary-text-color);
}

.container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.auth-nav {
    font-style: normal;
} 



/* header */
.main-nav {
    display: flex;
    align-items: center;
}

.navigat {
    display: flex;
    align-items: center;
}

.sate-nav,
.auth-nav {
    display: flex;
    padding: 0;
    margin: 0;
}

.sate-nav {
    margin-left: 93px;
}

.auth-nav {
    margin-left: auto;
}

.sate-nav .sate-nav-item + .sate-nav-item {
    margin-left: 40px;
}

.sate-nav-link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.sate-nav-link:hover,
.sate-nav-link:focus,  
.nav:hover,
.nav:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}

.auth-nav .auth-nav-item + .auth-nav-item {
    margin-left: 40px;
}

.nav {
    display: inline-block; 
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Hero */
.hero {
    text-align: center;
    background-color: #2F303A;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364; 
    /* text-align: center; */    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: #2196F3;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
}

/* Feasture */
.feasture-title {
    margin: 0;  
}

.feasture-list,
.feasture-list-title,
.feasture-list-text {
    margin: 0;
    padding: 0;
    display: flex;
}

.feasture-list .feasture-list-item + .feasture-list-item {
    margin-left: 30px;
}

.feasture-list-item {
    width: 270px;
}

.feasture-list-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feasture-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

/* Work */ 
.section.no-padding {
    padding-top: 0;
}

.work-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.work-list {
    margin: 0;
    padding: 0;
    display: flex;
}

.work-list .work-list-item + .work-list-item {
    margin-left: 30px;
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* Team */
.team {
    background-color: var(--secondary-background-color);
}

.team-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.team-list {
    margin: 0;
    padding: 0;
}

.team-list {
    display: flex;
}

.team-list .team-list-item + .team-list-item {
    margin-left: 30px;
}

.team-list-content {
    padding: 30px 50px;
}

.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-list-text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Address */
.footer {
    background-color: #2F303A;
}

.container.top-padding {
    padding-top: 60px;
    padding-bottom: 75px;
}

.footer-title {
    margin: 0;
}

.address {
    width: 231px;
    height: 81px;
}

.address-list-website:hover,
.address-list-link:hover,
.address-list-website:focus,
.address-list-link:focus {
    color: var(--accent-color);
}

.address-list { 
    margin: 0;
    padding: 0;
}

.address-list .address-list-item + .address-list-item {
    margin-top: 9px;
}

.address-list-website {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-list-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.footer .logo {
    color: #FFFFFF;
    margin-bottom: 20PX;
    display: inline-block;
}

/* portfolio */
.portfolio-title {
    margin: 0;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 46px;
    margin-top: 0;
}

.portfolio-filter .portfolio-filter-nav + .portfolio-filter-nav {
    margin-left: 8px;
}

.portfolio-filter-button {
    border-radius: 4px;
    padding: 6px 22px;
    border: var(--secondary-background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

.portfolio-list {
    /* font-size: 0; */
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.portfolio-list-item {
    /* display: inline-block; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    width: 370px;
}

.portfolio-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.portfolio-list-img {
    margin-bottom: 20px;
}

.portfolio-list-title {
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-list-text {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

